html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body{
	padding:30px;
	background-color: white;
	font-size: 22px;
}
.operations, #clearB, #equals, .digits{
	background-color: red;
	color: yellow;
	width: 70px;
	height: 70px;
}
.digits{
	background-color: #551a8b;
	color: white;
}
#output{
	height: 70px;
	width:220px;
	margin-bottom: 10px;	
}
#frame{
	background-color: #111111;
	padding: 20px;
	border: solid grey 10px;
	float: left;
}
