html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body{
	padding:30px;
	background-color: white;
	font-size: 22px;
	background-image: url("calcBackground.png");
	background-repeat: no-repeat;
}
.operations, #clearB, #equals, .digits{
	background-color: red;
	color: yellow;
	width: 70px;
	height: 70px;
}
.digits{
	background-color: #551a8b;
	color: white;
}
#output{
	height: 70px;
	width:220px;
	margin-bottom: 10px;	
}
#frame{
	margin-left: 325px;
	background-color: black;
	padding: 10px;
	border: solid #908CDF 5px;
	float: left;
	border-bottom: 0px;
	margin-top: 10px;
	padding-left:19.5px;
	padding-right:19.5px;
}
