html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body{
	background-color: white;
	font-size: 22px;
	background-image: url("imperialBackground.jpg");
	background-repeat: no-repeat;
}
.operations, #clearB, #equals, .digits{
	background-color: black;
	color: yellow;
	width: 74px;
	height: 70px;
}
.digits{
	background-color: green;
	color: white;
}
#output{
	height: 70px;
	width: 229px;
	margin-bottom: 10px;	
}
#frame{
	margin-left: 120px;
	background-color: #353744;
	float: left;
	border-bottom: 0px;
	padding-left:19.5px;
	padding-right:19.5px;
}
#themeSwitch{
	height: 138px;
	width: 138px;
	float: left;
	clear: left;
	margin-left: 120px;
	margin-top: 60px;
	background-image: url("rebel.jpeg");
	background-position: center;
}
#impMotto{
	visibility: hidden;
}
#rebMotto{
	color: white;
	font-size: 20px;
	text-align: center;
	clear: left;
	float:left;
	margin-left: 85px;
}
